@use './common.scss' as *;

#wrap {
    .event {
        .event_wrap {
            /* 상단 이벤트 배너 영역*/
            @include flex-row; justify-content:center; 
            background-color:$color-black; height:40px;
            .event_text {color:$color-white;} /* 텍스트 부분 */
        }
    }
    header {
        @include flex-row; justify-content:center; gap:50px;
        position: relative; height:90px;
        h1 {
            img {display:inline-block; width:112.7px;}
        }
        a {font-weight:600;}
    }
    main {
        @include content-w;
        @include flex-col; align-items:flex-start; gap:40px;
        padding:40px 0;
        .path {
            img {@include icon14;}
            a {
                color:$color-gray-9;
                font-size:$font-size-xs;
                &:nth-of-type(2){ /* 현재 페이지 강조 */
                    font-weight:600;
                    color:$color-black;
                }
            }
        }
        .container {
            @include flex-row; gap:10px; align-items:flex-start;
            .overview_img { 
                @include flex-col;
                gap:10px;
                .arrow {
                    @include icon20;
                    transform: rotate(90deg);
                    &:nth-of-type(2) {
                        transform:rotate(270deg);
                    }
                }
                a {
                    @include thumnail;
                    border-radius:10px;
                    overflow:hidden;
                    img {
                        @include img100Percent;
                    }
                }
            }
            .overview {
                width:508px; overflow:hidden;
                border-radius:30px;
                .viewarea { 
                    @include flex-row;
                    img {
                        @include thumnail_big;
                        @include img100Percent;
                    }
                }
            }
            .contents {
                > *{
                    @include flex-col; gap:30px; 
                    align-items:flex-start;
                    margin-bottom:20px;
                }
                .product_info {
                    h2 {font-size:$font-size-xl; font-weight:600;}
                    p {}
                }
                .price_wrap {
                    .sale_original_price {
                        > *{color:$color-gray-9;}
                        .original {font-weight:500;}
                        .original_p {font-size:$font-size-xs;}
                    }
                }
                .total_price {
                    @include flex-row; gap:10px;
                    .sale {
                        font-size:$font-size-l;
                        font-weight: 600;
                        color:$color-red;
                    }
                    .price {
                        font-size:$font-size-l;
                        font-weight: 600;
                    }
                    .price_p {
                        font-size:$font-size-xs;
                        color:$color-gray-9;
                    }
                    .price_info {
                        position:relative;
                        img {
                            @include icon20;
                            transform:translate(-5px,2px);
                        }
                        .info {
                            display:none;
                            @include pst-ab;
                            top:20px; left:20%;
                            transform: translateX(-50%);
                            width:max-content;
                            padding:10px; border:1px solid $color-black;
                            border-radius:5px; box-shadow:0 5px 7px rgba(0,0,0,0.15);
                        }
                    }
                }
                .banner_wrap {
                    overflow:hidden;
                    .banner_view {
                        max-width:100%;
                        @include flex-row;
                        gap:10px;
                        .banner {
                            flex: 0 0 auto;
                            background: #f6f6f6;
                            border-radius:10px;
                            padding: 20px;
                            height:96px;
                            .w-banner-head {
                                color:$color-gray-9;
                                font-size:$font-size-xs;
                                margin-bottom:10px;
                            }
                            .w-banner-cont {font-size:$font-size-xs;}
                        }
                    }
                }
                .delivery {
                    border-top:1px solid $color-gray-9;
                    border-bottom:1px solid $color-gray-9;
                    padding:40px 0;
                    width:100%;
                    span {color:$color-gray-9; font-size:$font-size-xs;}
                    .dv_price {color:$color-black; font-size:$font-size-xs;}
                }
                .order_list {
                    border-radius: 5px;
                    padding:20px 30px;
                    border:1px solid $color-gray-9;
                    height:max-content;
                    width:100%;
                    .product_name {
                        font-weight:500;
                    }
                    .num_price {
                        padding-top:45px;
                        @include flex-row;
                        justify-content:space-between;
                        .num {border:1px solid $color-black;
                            background:$color-white; display:inline-block;
                            button {
                                width:30px; height:30px;
                                background:$color-white;
                                font-size:$font-size-m; 
                                font-weight:500;
                            }
                            #order_num {
                                text-align:center;
                                &::-webkit-outer-spin-button,
                                &::-webkit-inner-spin-button {
                                    -webkit-appearance: none;
                                    margin:0;
                                }
                                width:45px;
                                height:30px;
                            }
                        }
                        .price {
                            font-size:$font-size-m;
                            font-weight:600;
                        }
                    }
                }
                .order_price {
                    @include flex-row;
                    justify-content:space-between;
                    width:100%;
                    h3 {font-weight:600;}
                    .price {font-size:$font-size-s;
                        em {font-weight:600; font-size:$font-size-xl;}
                    }
                }
                .order_btn {
                    @include flex-row;
                    width:100%;
                    .heart{
                        @include icon65;
                        border:1px solid $color-black;
                        border-radius:10px;
                        margin-right:75px;              
                        img {
                            @include img100Percent;
                        }
                    }
                    .buy_cart_btn {
                        @include flex-row;
                        border:1px solid $color-black;
                        border-radius: 10px;
                        width:100%;
                        overflow:hidden;
                        button {
                            font-size:$font-size-m;
                            font-weight:600;
                            @include cart_buy_btn;
                            border-radius: 0;
                        }
                        #cart_btn {
                            background:$color-white;
                            border-right:1px solid $color-black;
                        }
                        #buy_btn {
                            border-left:none;
                            color:$color-white;
                            background:$color-black;
                        }
                    }
                }
                .membeship_note {
                    position: relative;
                    padding-left: 15px;
                }
                li {
                    &::before {
                        content: "•";
                        position: absolute;
                        left: 0;
                        transform: translateY(-3px);
                        color:$color-gray-9;      
                        font-size:$font-size-xs;
                        line-height: 1.5;
                    }
                    font-size:$font-size-xs;
                    margin-bottom: 5px;
                    color:$color-gray-9;
                    em {
                        font-size:$font-size-xs;
                        font-weight:600;
                    }
                }
            }
        }
    }
}