// common.scss
$font-size-xl:;
$font-size-l:;
$font-size-m:;
$font-size-s:;
$font-size-xs:;
$color-point:#0aa5ff;
$color-black:#000;
$color-white:#fff;
$color-gray-light-lv1:#828c94;
$color-gray-light-lv2:#bdbdbd;
$color-gray-light-lv3:#dadce0;
$color-gray-dark:#292929;
$color-gray-medium:#757575;
@mixin content-w {max-width:1156px; min-width:320px; margin:0 auto;}
@mixin flex-row {
    display:flex; flex-flow:row nowrap;
}
@mixin flex-col {
    display:flex; flex-flow:column nowrap;
}
@mixin grid {display:grid;}
@mixin icon24 {}
@mixin icon20 {}
@mixin icon18 {}
@mixin icon14 {}
@mixin cart_buy_btn {}